In [1]:
from rdkit import Chem
from rdkit.Chem import Lipinski, Descriptors

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('preprocessed_dengue_bioactivity_df.csv')

In [4]:
df

,molecule_chembl_id,canonical_smiles,standard_value,bio_activity
0,CHEMBL1401841,COc1ccc2nc3cccc(OC)c3nc2c1,100000.0,inactive
1,CHEMBL1608853,O=C(O)c1ccc2c(c1)C(=O)/C(=C\c1ccco1)C2=O,12310.0,inactive
2,CHEMBL1429799,O=C1NN(c2ccccc2)C(=O)/C1=C\c1ccccc1OCC(=O)N1CC...,100000.0,inactive
3,CHEMBL246446,O=C(O)c1ccc2nc(-c3ccco3)c(-c3ccco3)nc2c1,50970.0,inactive
4,CHEMBL1383455,CCn1nc([N+](=O)[O-])c(C(C#N)c2nc3ccccc3n2C)c(C...,100000.0,inactive
...,...,...,...,...
1232,CHEMBL5190612,Cc1ccc(S(=O)(=O)Nc2ccc(-c3nnc(SCc4ccc(C(F)(F)F...,25200.0,inactive
1233,CHEMBL5176952,Cc1ccc(S(=O)(=O)Nc2ccc(-c3nnc(SCc4cccc(C(F)(F)...,23900.0,inactive
1234,CHEMBL5184942,Cc1ccc(S(=O)(=O)Nc2ccc(-c3nnc(SCc4ccccc4C(F)(F...,24000.0,inactive
1235,CHEMBL4526128,O=C(N[C@@H](Cc1ccc(O)cc1)C(=O)O)c1cc(-c2ccccc2...,9610.0,intermediate
1236,CHEMBL5177478,CC(=O)N[C@@H](CCCCN)C(=O)N[C@@H](CCCCN)C(=O)N[...,200.0,active

In [5]:
# Inspired by DataProfessor
def lipinski(smiles, verbose=False):

    moldata = []
    for elem in smiles:
        mol=Chem.MolFromSmiles(elem) 
        moldata.append(mol)
       
    baseData= np.arange(1,1)
    i=0  
    for mol in moldata:        
       
        desc_MolWt = Descriptors.MolWt(mol)
        desc_MolLogP = Descriptors.MolLogP(mol)
        desc_NumHDonors = Lipinski.NumHDonors(mol)
        desc_NumHAcceptors = Lipinski.NumHAcceptors(mol)
           
        row = np.array([desc_MolWt,
                        desc_MolLogP,
                        desc_NumHDonors,
                        desc_NumHAcceptors])   
    
        if(i==0):
            baseData=row
        else:
            baseData=np.vstack([baseData, row])
        i=i+1      
    
    columnNames=["MW","LogP","NumHDonors","NumHAcceptors"]   
    descriptors = pd.DataFrame(data=baseData,columns=columnNames)
    
    return descriptors

In [6]:
df_lipinski = lipinski(df.canonical_smiles)

In [7]:
df_lipinski

           MW     LogP  NumHDonors  NumHAcceptors
0     240.262  2.80020         0.0            4.0
1     268.224  2.44040         1.0            4.0
2     407.426  1.38560         1.0            5.0
3     306.277  3.84800         1.0            5.0
4     372.772  2.36698         0.0            8.0
...       ...      ...         ...            ...
1232  505.543  6.15692         1.0            6.0
1233  505.543  6.15692         1.0            6.0
1234  505.543  6.15692         1.0            6.0
1235  582.678  6.02400         3.0            7.0
1236  712.814  4.00560         6.0            7.0

[1237 rows x 4 columns]

In [8]:
df_combined = pd.concat([df, df_lipinski], axis=1)

### Converting the standard values into pIC50 values

In [10]:
df_combined.standard_value.max()

432000.0

In [11]:
def pIC50(df):
    pIC50 = []

    for i in df['standard_value']:
        molar = i*(10**-9) # From nM to M
        pIC50.append(-np.log10(molar))

    df['pIC50'] = pIC50
    x = df.drop('standard_value', axis=1)
        
    return x

In [12]:
pIC50(df_combined).pIC50.min()

3.364516253185088

In [13]:
df_combined

,molecule_chembl_id,canonical_smiles,standard_value,bio_activity,MW,LogP,NumHDonors,NumHAcceptors,pIC50
0,CHEMBL1401841,COc1ccc2nc3cccc(OC)c3nc2c1,100000.0,inactive,240.262,2.80020,0.0,4.0,4.000000
1,CHEMBL1608853,O=C(O)c1ccc2c(c1)C(=O)/C(=C\c1ccco1)C2=O,12310.0,inactive,268.224,2.44040,1.0,4.0,4.909742
2,CHEMBL1429799,O=C1NN(c2ccccc2)C(=O)/C1=C\c1ccccc1OCC(=O)N1CC...,100000.0,inactive,407.426,1.38560,1.0,5.0,4.000000
3,CHEMBL246446,O=C(O)c1ccc2nc(-c3ccco3)c(-c3ccco3)nc2c1,50970.0,inactive,306.277,3.84800,1.0,5.0,4.292685
4,CHEMBL1383455,CCn1nc([N+](=O)[O-])c(C(C#N)c2nc3ccccc3n2C)c(C...,100000.0,inactive,372.772,2.36698,0.0,8.0,4.000000
...,...,...,...,...,...,...,...,...,...
1232,CHEMBL5190612,Cc1ccc(S(=O)(=O)Nc2ccc(-c3nnc(SCc4ccc(C(F)(F)F...,25200.0,inactive,505.543,6.15692,1.0,6.0,4.598599
1233,CHEMBL5176952,Cc1ccc(S(=O)(=O)Nc2ccc(-c3nnc(SCc4cccc(C(F)(F)...,23900.0,inactive,505.543,6.15692,1.0,6.0,4.621602
1234,CHEMBL5184942,Cc1ccc(S(=O)(=O)Nc2ccc(-c3nnc(SCc4ccccc4C(F)(F...,24000.0,inactive,505.543,6.15692,1.0,6.0,4.619789
1235,CHEMBL4526128,O=C(N[C@@H](Cc1ccc(O)cc1)C(=O)O)c1cc(-c2ccccc2...,9610.0,intermediate,582.678,6.02400,3.0,7.0,5.017277
1236,CHEMBL5177478,CC(=O)N[C@@H](CCCCN)C(=O)N[C@@H](CCCCN)C(=O)N[...,200.0,active,712.814,4.00560,6.0,7.0,6.698970

In [14]:
df_combined.to_csv('df_combined.csv', index=False)